<nav class="header">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li>
    <a href="/"><i class="fa fa-bars"></i></a>
    </li>
    <li>
      <h3 class="heading fw-bold text-center">Categories</h3>
    </li>
    <li>
   <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "justify-content-center align-self-center btn btn-danger btn-sm sign-out" %>
   </nav> 
<% unless @categories.empty? %>
    <%= render 'list' %>
  <% else %>
    <p>No category available</p>
  <% end %>
<div class="w-100  py-1 px-1 cat-btn">
  <%= link_to "Add a category", new_category_path, :class => "btn btn-primary" %>
</div>